@model BlogersProject.Model.Entities.User
@{
    ViewData["Title"] = "Index";
}
<!-- Page Header-->
<header class="masthead" style="background-color :cadetblue">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Merhaba, @Model.Name</h1>
                    <h5>Sana Özel Hazırladığımız Blogger Sayfasına Hoşgeldin</h5>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    Yazılımla alakalı bildiğiniz herhangi bir konuda yazı yazabilirsiniz. İyi çalışmalar dileriz...
                </p>
                @await Component.InvokeAsync("AddBlogFormPartial")
            </div>
        </div>
    </div>
</article>
