<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
    <div class="copyright">
        <p>BilGin BloG Telif hakkı &copy; Tüm Hakları Saklıdır @DateTime.Now.Year Geliştirici <a asp-controller="Home" asp-action="Developer" style=" color:mediumpurple  text-decoration:none;"> M. Hasan Küçük</a></p>
    </div>
</div>
<!--**********************************
    Footer end
***********************************-->
