@model IEnumerable<BlogersProject.Model.Entities.Blog>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Page Header-->
<header class="masthead" style="background-color :cadetblue">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>BilGin BloG Sitemize Hoşgeldiniz</h1>
                    <span class="subheading">Burada Yazılımla Alakalı Herşeyi Bulabilirsiniz</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var item in Model)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="~/startbootstrap/post.html">
                        <h2 class="post-title">@item.BlogTitle</h2>
                        <h3 class="post-subtitle">@item.BlogPost</h3>
                    </a>
                    <p class="post-meta">
                        Blog Yazarı
                        <a href="#!">@item.Blogger</a>
                        Tarih; @item.BlogDate
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Eski Bloglar →</a></div>
        </div>
    </div>
</div>
