<!DOCTYPE html>
<html lang="tr">
@await Component.InvokeAsync("HeadPartial");
<body>
    @await Component.InvokeAsync("PreloaderPartial");
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        @await Component.InvokeAsync("HeaderPartial");

        @await Component.InvokeAsync("SidebarPartial");
        <!--**********************************
            Content body start
        ***********************************-->
        <br /><br />
        <div class="content-body">

            @RenderBody()
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        @await Component.InvokeAsync("FooterPartial");
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    @await Component.InvokeAsync("ScriptsPartial");

</body>

</html>