@model BlogersProject.Model.Entities.Blog
<form class="form-valide" method="post" asp-controller="Blogger" asp-action="Index">
    <div class="form-group row">
        <div class="form-floating">
            <input class="form-control" id="name" type="text" placeholder="Lütfen Başlık Giriniz" asp-for="BlogTitle" />
            <label for="name">Başlık</label>
        </div>
    </div> 
    <div class="form-group row">
        <div class="form-floating">
            <input class="form-control" id="name" type="text" placeholder="Lütfen Özet Cümle Giriniz" asp-for="BlogFirst" />
            <label for="name">Özet Cümle</label>
        </div>
    </div>
    <div class="form-floating">
        <textarea class="form-control" id="message" placeholder="Lütfen Blog İçeriği Giriniz" asp-for="BlogPost" style="height: 12rem"></textarea>
        <label for="message">Blog İçeriği</label>
    </div>
    <div class="form-group row">
        <div class="form-floating">
            <input class="form-control" id="name" type="text" placeholder="Lütfen Yazar Adı Giriniz" asp-for="Blogger" />
            <label for="name">Yazar Adı</label>
        </div>
    </div>
    </div>
    <div class="d-flex justify-content-end mb-4">
        <input type="submit" class="btn btn-primary" value="Kaydet" />
    </div> 
</form>