
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BilGin BloG</title>
	<link rel="icon" type="image/x-icon" href="~/startbootstrap/assets/favicon.ico" />
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="~/css/confirm.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Kaydedildi</h1>
				<h2>Blogger Kaydınız Alınmıştır Admin Onayı Aldıktan Sonra Blog Yazabilirsiniz</h2>
			</div>
			<a asp-controller="Home" asp-action="Index">Ana Sayfaya Git</a>
		</div>
	</div>

</body>
</html>
